
body{
	background: white;
	transition: 3s ease all;
}
nav.dark{
    border: 1px solid rgba(0,0,0,0.1);
}
div.dark{
	
}
button{
	height: 35px;
}
img{
	text-align: center;
}
.card-header{
	transition: 3s ease all;
}
.card{
	transition: 3s ease all;
}
.form-control{
	transition: 3s ease all;

}
.content{
	margin-top: 0px;
}
.titulos{
	transition: 3s ease all;
}
.letras{
	transition: 3s ease all;
}
/*modo oscuro*/
.interruptor{
	background: #343D5B;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
}
.interruptor::after{
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	background: #F1F1F1;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}
.span{
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	background: none;
	color: #fff;

}
.interruptor.active{
	background: orange;
}
.interruptor.active::after{
	right: 0;
	left: unset;
}
body.dark{
	background: black;
	transition: 1s ease all;
/*	border: 1px solid #7C7C7C;
	border-bottom: none;*/
}
body nav.dark{
	background: white;
	transition: 3s ease all;
}
body.dark nav.dark{
	background-color: #0A0A0A;
	transition: 1s ease all;
	border: 1px solid #7C7C7C;
	transition: 1s ease all;

}
body.dark .card{
	background-color: #0A0A0A;
	border: 1px solid #7C7C7C;
	transition: 1s ease all;
}
body.dark .form-control{
	background-color: #0A0A0A;
	
	transition: 1s ease all;
}
body.dark .card{
	transition: 1s ease all;
}

body.dark .form-control{
	transition: 1s ease all;
}

body.dark a{
	color: white;
	transition: 1s ease all;
}
a{
	transition: 3s ease all;
}
body.dark .titulos{
	color: #C4C4C4;
	transition: 1s ease all;
}

body.dark input{
	background: #383838;
	color: white !important;
	transition: 1s ease all;
}
input{
	transition: 1s ease all;
}
body.dark .boton{
	background: #3A2525 !important;
	transition: 1s ease all;
	border: none;
}
body.dark .letras{
	color: white;
	transition: 1s ease all;
}
body.dark *.dark{
	background-color: #0A0A0A;
	transition: 1s ease all;
	
	transition: 1s ease all;

}
/*modo oscuro*/
#logoo{

		padding-top: .2rem !important;
}
